In [5]:
import os
from pathlib import Path

os.chdir('/content/drive/MyDrive/hnm')
DATA_PATH = Path.cwd() / 'data'
RAW = DATA_PATH / 'raw'
PROCESSED = DATA_PATH / 'processed'
SUBMISSION = DATA_PATH / 'submission'

import gzip
from collections import defaultdict
from datetime import datetime
import copy
import time
import datetime
import json
import numpy as np
import pandas as pd

from tqdm import tqdm

In [6]:
transactions = pd.read_csv(RAW / 'transactions_train.csv', parse_dates=['t_dat'])
transactions['unix_t_dat'] = transactions.t_dat.view(np.int64) // 10**9
transactions = transactions.reset_index()

In [7]:
transactions.head(2)

,index,t_dat,customer_id,article_id,price,sales_channel_id,unix_t_dat
0,0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,1537401600
1,1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,1537401600

In [8]:
print(f'No. of transactions: {transactions.shape[0]:,}')
print(f'No. of users: {transactions.customer_id.nunique():,}')
print(f'No. of articles: {transactions.article_id.nunique():,}')

No. of transactions: 31,788,324
No. of users: 1,362,281
No. of articles: 104,547

In [9]:
while(1):
  if transactions['article_id'].value_counts().values[-1] < 10:
    leastReviewedProducts = []
    counts = transactions['article_id'].value_counts()

    for val in list(transactions['article_id'].unique()):
      if counts[val] < 40:
        leastReviewedProducts.append(val)

    transactions = transactions[~(transactions['article_id'].isin(leastReviewedProducts))]
    print('Removed articles\t\t\t Remaining number of transactions: {:,}'.format(len(transactions)))

  elif transactions['customer_id'].value_counts().values[-1] < 10:
    leastReviewsBy = []
    counts = transactions['customer_id'].value_counts()

    for val in list(transactions['customer_id'].unique()):
      if counts[val] < 40:
        leastReviewsBy.append(val)

    transactions = transactions[~(transactions['customer_id'].isin(leastReviewsBy))]
    print('Removed customers\t\t\t Remaining number of transactions: {:,}'.format(len(transactions)))

  else:
    print('\n\n----')
    print('Obtained 40-core subset')
    break

Removed articles			 Remaining number of transactions: 31,214,804
Removed customers			 Remaining number of transactions: 19,470,398
Removed articles			 Remaining number of transactions: 19,208,040


----
Obtained 40-core subset

In [10]:
print(f'After taking 40-core subset:\n\n')
print(f'No. of transactions: {transactions.shape[0]:,}. Decreased by {100*(31788324 - transactions.shape[0])/31788324:.2f}%')
print(f'No. of users: {transactions.customer_id.nunique():,}. Decreased by {100*(1362281 - transactions.customer_id.nunique())/1362281:.2f}%')
print(f'No. of articles: {transactions.article_id.nunique():,}. Decreased by {100*(104547 - transactions.article_id.nunique())/104547:.2f}%')

After taking 40-core subset:


No. of transactions: 19,208,040. Decreased by 39.58%
No. of users: 226,844. Decreased by 83.35%
No. of articles: 51,960. Decreased by 50.30%

In [ ]:
transactions.customer_id.value_counts().tail(2)

90d392165c0d9482170ea7007bf2649d1b3db76e84e51c685260dac993d882ae    16
42a086d1fa81bec1ac3a9733dcf46ca2e432d299cf67fd9698912bbe8a9533f9    13
Name: customer_id, dtype: int64

In [ ]:
transactions.article_id.value_counts().tail(2)

657304002    40
676503002    40
Name: article_id, dtype: int64

In [ ]:
countU = transactions.customer_id.value_counts().to_dict()
countP = transactions.article_id.value_counts().to_dict()

In [ ]:
usermap = dict()
usernum = 1

itemmap = dict()
itemnum = 1

User = dict()

for index, one_interaction in tqdm(transactions.iterrows(), total=transactions.shape[0]):
    rev = one_interaction['customer_id']
    asin = one_interaction['article_id']
    time = float(one_interaction['unix_t_dat'])

    if countU[rev] < 10 or countP[asin] < 10:
        print('Error in taking 10-core')
        continue

    if rev in usermap:
        userid = usermap[rev]
    else:
        userid = usernum
        usermap[rev] = userid
        User[userid] = []
        usernum += 1

    if asin in itemmap:
        itemid = itemmap[asin]
    else:
        itemid = itemnum
        itemmap[asin] = itemid
        itemnum += 1
        
    User[userid].append([itemid, time])

100%|██████████| 19208040/19208040 [19:15<00:00, 16617.37it/s]

In [ ]:
imap_file = str(f'{PROCESSED}')+'/imap.json'
umap_file = str(f'{PROCESSED}')+'/umap.json'

data_file = str(f'PROCESSED')+'.txt'

with open(imap_file, 'w') as f:
    json.dump(itemmap, f)

with open(umap_file, 'w') as f:
    json.dump(usermap, f)

In [ ]:
for userid in User.keys():
    # sort User according to time
    User[userid].sort(key=lambda x: x[1])

In [ ]:
user_train = {}
user_valid = {}
user_test = {}

for user in User:
    nfeedback = len(User[user])

    if nfeedback < 10:
        print('Error in taking k-core')
        break
    else:
        user_train[user] = User[user][:-2]
        user_valid[user] = []
        user_valid[user].append(User[user][-2])
        user_test[user] = []
        user_test[user].append(User[user][-1])

In [ ]:
train_file = str(f'{PROCESSED}')+'/train.txt'
valid_file = str(f'{PROCESSED}')+'/valid.txt'
test_file = str(f'{PROCESSED}')+'/test.txt'

data_file = str(f'{PROCESSED}')+'/transactions_train_sequences.txt'

def writetofile(data, dfile):
    with open(dfile, 'w') as f:
        for u, ilist in sorted(data.items()):
            for i, t in ilist:
                f.write(str(u) + '\t'+ str(i) + '\t' + str(t) + "\n")

def writetofile_v2(data, dfile):
    with open(dfile, 'w') as f:
        for u, ilist in sorted(data.items()):
            f.write(str(u))
            for i, t in ilist:
                f.write(' '+ str(i))
            f.write("\n")

writetofile_v2(User, data_file)

In [ ]:
num_instances = sum([len(ilist) for _, ilist in User.items()])
print('total user: ', len(User))
print('total instances: ', num_instances)
print('avg length: ', num_instances / len(User))
print('total items: ', itemnum)
print('density: ', num_instances / (len(User) * itemnum))
print('valid #users: ', len(user_valid))
numvalid_instances = sum([len(ilist) for _, ilist in user_valid.items()])
print('valid instances: ', numvalid_instances)
numtest_instances = sum([len(ilist) for _, ilist in user_test.items()])
print('test #users: ', len(user_test))
print('test instances: ', numtest_instances)

total user:  226844
total instances:  19208040
avg length:  84.67510712207508
total items:  51961
density:  0.0016295896368829523
valid #users:  226844
valid instances:  226844
test #users:  226844
test instances:  226844